body {
    background-color: aliceblue;
    font-size: smaller;
}

.main {
    margin: auto;
    width: 30vw;
    margin-top: 50px;
    border: 2px solid rgb(17, 13, 13);
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(100, 185, 216);
    border-radius: 32px;
}

.place {
    text-align: center;
    padding: 50px auto;
    text-align: justify;
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(226, 43, 144);
    text-transform: capitalize;
}

.image1 {
    width: 100%;
    object-fit: fill;
    border-radius: 10px;


}

.center {
    border-radius: 10px;
    padding: 6px 12px;
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    margin-left: 4vw;
}

.h2{
margin-left: 6vw;
    font-weight: bolder;

}

.button:hover {
    text-align: center;
    border-style: inset;
}

.button {
    width: 17vw;
    margin-left: 3vw;
    text-align: center;
    background-color: rgb(14, 243, 251);
    color: black;
    border-radius: 17px;
    padding: 9px 18px;
    font-weight: 600;
    font-size: smaller;
    border: none;
    cursor: pointer;

}
@media only screen and (max-width:500px){
    .main{
        background-color: lightblue;
        width:40vw ;
    }
    h1{
        text-align: center;
        font-size: smaller;
    }
}